/* Meyer's Reset CSS */
@import url('./reset.css');

/* Google Fonts: Megrim, Raleway */
@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Raleway&display=swap');

/* ==== */
/* BASE */
/* ==== */

body {
  background-color: rgb(60, 47, 60);
}

header {
  background-color: rgb(32, 27, 32);
  padding-top: 80px;
}

h1 {
  color: rgb(211, 177, 177);
  font-family: 'Megrim', serif;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 80px;
  text-align: center;
  text-shadow: 8px 8px 12px rgb(245, 42, 6);
}

h2 {
  color: rgb(25, 128, 24);
  font-family: 'Megrim', sans-serif;
  font-size: 36px;
  font-weight: bold;
  padding: 80px 0;
  text-align: center;
}

p {
  color:orange;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  text-align: center;
}

span {
  text-shadow: 4px 4px 4px rgb(190, 31, 3);
}

/* === */
/* Nav */
/* === */
nav {
  background-color: rgb(22, 18, 22);
}

ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}


li {
  padding: 20px 40px;
}

li a, li p {
  color: orange;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  text-decoration: none;
}

/* ========== */
/* Components */
/* ========== */

.event {
  background: linear-gradient(rgb(32, 27, 32), rgb(60, 47, 60))
}

.showing {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.film {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:0 30px 80px 30px;
  max-width: 300px;
}

.cover-image img{
  border-radius: 5px;
  box-shadow: 0px 0px 8px 4px rgb(129, 50, 50);
  margin-bottom: 10px;
  max-width: 200px;
}

/* ============ */
/* DESKTOP VIEW */
/* ============ */

@media (min-width: 620px) {
  h1 {
    font-size: 64px;
  }
  h2 {
    font-size: 48px;
  }
  .cover-image img {
    max-width: 300px;
  }
}